html, body, input {
  margin: 0;
  padding: 0;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  letter-spacing: .085em;
}

#page {
  position: relative;
  width: 590px; /* width of content box */
  height: 431px; /* top of logo to bottom of hello@ */
  margin: 0 auto; /* auto lr to center in browser */
  margin-top: 190px; /* top of the page to the top of the logo */
}

#logo {
  position: relative;
  top: 160px;
  text-align: center;
  z-index: 999;
}


.move-up {
  -webkit-animation: move-up 3.5s ease-in-out .75s 1 normal forwards;
     -moz-animation: move-up 3.5s ease-in-out .75s 1 normal forwards;
       -o-animation: move-up 3.5s ease-in-out .75s 1 normal forwards;
          animation: move-up 3.5s ease-in-out .75s 1 normal forwards;
}

.fade-in {
  -webkit-animation: fade-in 1.25s ease-in-out 3.5s 1 normal forwards;
     -moz-animation: fade-in 1.25s ease-in-out 3.5s 1 normal forwards;
       -o-animation: fade-in 1.25s ease-in-out 3.5s 1 normal forwards;
          animation: fade-in 1.25s ease-in-out 3.5s 1 normal forwards;
}

@-webkit-keyframes move-up { from { top: 160px; } to { top: 0px; } }
   @-moz-keyframes move-up { from { top: 160px; } to { top: 0px; } }
     @-o-keyframes move-up { from { top: 160px; } to { top: 0px; } }
        @keyframes move-up { from { top: 160px; } to { top: 0px; } }

@-webkit-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
   @-moz-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
     @-o-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
        @keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }



#content-container {
  position: relative;
  opacity: 0;
  width: 590px;
  height: 263px;
  margin-top: 35px; /* bottom of logo to top of border box */
}

/* content container border box */
.border-box {
  position: absolute;
}

.corner-box {
  width: 9px;
  height: 9px;
}

.border-top {
  border-top: 1px solid #155399;
}

.border-right {
  border-right: 1px solid #155399;
}

.border-bottom {
  border-bottom: 1px solid #155399;
}

.border-left {
  border-left: 1px solid #155399;
}

.border-tl-inner {
  top: 4px;
  left: 4px;
}

.border-tr-outer {
  top: 0px;
  right: 0px;
}

.border-tr-inner {
  top: 4px;
  right: 4px;
}

.border-br-outer {
  bottom: 0px;
  right: 0px;
}

.border-br-inner {
  bottom: 4px;
  right: 4px;
}

.border-bl-outer {
  left: 0px;
  bottom: 0px;
}

.border-bl-inner {
  bottom: 4px;
  left: 4px;
}

.border-lr-outer {
  width: 588px;
  height: 243px;
  top: 10px;
}

.border-lr-inner {
  width: 580px;
  height: 235px;
  top: 14px;
  left: 4px;
}

.border-tb-outer {
  width: 570px;
  height: 261px;
  left: 10px;
}

.border-tb-inner {
  width: 562px;
  height: 253px;
  top: 4px;
  left: 14px;
}


/* coming soon */
#coming-soon {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-size: 13.5pt;
  text-align: center;
  top: 49px;
  left: 195px;
  width: 200px;
  color: #155399;
}


#blurb {
  position: absolute;
  text-align: center;
  line-height: 1.5em;
  top: 89px;
  left: 45px;
  width: 500px;
  color: black;
}


/* contact */
#contact {
  opacity: 0;
  text-align: center;
  font-size: 13.5pt;
  margin-top: 26px;
  color: #155399;
}


/* email form */
#mc-email-form .email {
  position: absolute;
  font-size: 12pt;
  width: 196px;
  bottom: 62px;
  left: 151px;
  padding: 5px 2px;
  border: 0px;
  border-bottom: 1px solid #155399;
}

#mc-email-form .email:focus {
  outline: none;
}

#mc-email-form .button {
  position: absolute;
  bottom: 62px;
  left: 363px;
  width: 74px;
  height: 27px;
  background-color: #fff;
  border: 0 none;
  border: 1px solid #155399;
  color: #155399;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-bottom: 0px;
  text-align: center;
}

#mc-email-form .button:hover {
  background-color: #155399;
  color: #fff;
}
