html, body {
  margin: 0;
  padding: 0;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  letter-spacing: .05em;
}

#page {
  width: 590px; /* width of content box */
  height: 431px; /* top of logo to bottom of hello@ */
  margin: 0 auto; /* auto lr to center in browser */
  margin-top: 190px; /* top of the page to the top of the logo */
}

#logo {
  text-align: center;
}

#content-container {
  position: relative;
  width: 590px;
  height: 263px;
  margin-top: 30px; /* bottom of logo to top of border box */
}

/* content container border box */
.border-box {
  position: absolute;
}

.corner-box {
  width: 9px;
  height: 9px;
}

.border-top {
  border-top: 1px solid #155499;
}

.border-right {
  border-right: 1px solid #155499;
}

.border-bottom {
  border-bottom: 1px solid #155499;
}

.border-left {
  border-left: 1px solid #155499;
}

.border-tl-inner {
  top: 4px;
  left: 4px;
}

.border-tr-outer {
  top: 0px;
  right: 0px;
}

.border-tr-inner {
  top: 4px;
  right: 4px;
}

.border-br-outer {
  bottom: 0px;
  right: 0px;
}

.border-br-inner {
  bottom: 4px;
  right: 4px;
}

.border-bl-outer {
  left: 0px;
  bottom: 0px;
}

.border-bl-inner {
  bottom: 4px;
  left: 4px;
}

.border-lr-outer {
  width: 588px;
  height: 243px;
  top: 10px;
}

.border-lr-inner {
  width: 580px;
  height: 235px;
  top: 14px;
  left: 4px;
}

.border-tb-outer {
  width: 570px;
  height: 261px;
  left: 10px;
}

.border-tb-inner {
  width: 562px;
  height: 253px;
  top: 4px;
  left: 14px;
}


/* coming soon */
#coming-soon {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: center;
  top: 55px;
  left: 195px;
  width: 200px;
  color: #155499;
}


#blurb {
  position: absolute;
  text-align: center;
  top: 95px;
  left: 45px;
  width: 500px;
  color: black;
}


/* email form */
#email-form {
  position: absolute;
  width: 280px;
  bottom: 62px;
  left: 155px;
  padding: 10px 4px;
  border: 0px;
  border-bottom: 1px solid #155499;
}


/* contact */
#contact {
  text-align: center;
  margin-top: 32px;
  color: #155499;
}
