html, body {
  margin: 0;
  padding: 0;
}

#page {
  width: 590px; /* width of content box */
  height: 431px; /* top of logo to bottom of hello@ */
  margin: 0 auto; /* auto lr to center in browser */
  margin-top: 190px; /* top of the page to the top of the logo */
}

#logo {
  text-align: center;
}
